<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="oauth.server.dao.UserMapper">
    <select id="loadUserByUsername" resultType="oauth.server.pojo.TbUser">
        select * from tb_user where username = #{username}
    </select>
    <select id="getTbUserTbRoleByUid" resultType="oauth.server.pojo.TbRole">
        select * from tb_role a
        inner join tb_user_role b on b.role_id = a.id
        inner join tb_user c on c.id = b.user_id
        where a.id = #{id}
    </select>
</mapper>